{% extends "layout.njk" %}

{% block title %}
  <title>{{wrappers.company}}
    | Sobre</title>
{% endblock title %}

{% block header %}
  <header class="header">
    <a href="/">
      <img src="{{assets.logo}}" alt="Foodfy"/>
    </a>
    <a id="about" href="/about">
      <strong>Sobre</strong>
    </a>
    <a id="recipes" href="/recipes">Receitas</a>
  </header>
{% endblock header %}

{% block content %}
  <div class="section-content">
    <h1>Sobre o Foodfy</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
    </p>
  </div>

  <div class="section-content">
    <h2>Como tudo começou</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
    </p>
  </div>

  <div class="section-content">
    <h2>Nossas Receitas</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis odio, c
      onsequatur dolorem iusto nisi delectus, eum veniam pariatur maiores ipsa, bl
      anditiis fugiat eligendi! Repellat sed animi architecto voluptas sint impedit.
    </p>
  </div>
{% endblock content %}