<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodfy - Home</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <header>
        <nav class="topnav">
          <a href="index.html">
            <img src="/layouts/assets/logo.png" alt="Foodfy" />
          </a>
          <a href="about.html">Sobre</a>
          <a href="recipes.html">Receitas</a>
        </nav>
      </header>

      <section class="main-content">
        <div class="wrapper">
          <h1>As melhores receitas</h1>
          <p>
            Aprenda a construir os melhores pratos com receitas criadas por
            profissionais do mundo inteiro.
          </p>
        </div>

        <div class="wrapper-image">
          <img src="/layouts/assets/chef.png" alt="Imagem do Chef" />
        </div>
      </section>
      
      <h2>Mais acessadas</h2>
      <section class="cards">

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <img src="/layouts/assets/burger.png" alt="triplo bacon burger">
            <h3>Triplo bacon burger</h3>
            <p>por Jorge Relato</p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
  </body>
</html>
