{% extends "layout.njk" %}

{% block content %}
  <div class="wrapper">
    <div class="wrapper-content">
      <h1>{{wrapper.title}}</h1>
      <p>{{wrapper.description}}</p>
    </div>
    <div class="wrapper-image-container">
      <img src="{{assets.chef}}" alt="Imagem de Chef">
    </div>
  </div>

  <div class="section-content">
    <h1>Mais acessadas</h1>
  </div>

  <div class="cards">
    {% for item in items %}
      {% if loop.index <= 6 %}
        <div class="card">
          <div class="card-image-container">
            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
          </div>
          <div class="card-content">
            <h1>{{item.title}}</h1>
            <p>por
              {{item.author}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <script src="/scripts/script.js"></script>
{% endblock content %}