{% extends "layout.njk" %}

{% block header %}
  <header class="header">
    <a href="/">
      <img src="{{assets.logo}}" alt="Foodfy"/>
    </a>
    <a id="about" href="/about">Sobre</a>
    <a id="recipes" href="/recipes">
      <strong>Receitas</strong>
    </a>
  </header>
{% endblock header %}

{% block content %}
  <div class="recipe-image-container">
    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
  </div>

  <div class="recipe-content">
    <h1>{{recipe.title}}</h1>
    <p>por {{recipe.author}}</p>
  </div>

{% endblock content %}

<script src="/scripts/hideShow.js"></script>