/* +++ GLOBAL +++ */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #111111;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.wrapper,
.cards,
.section-content {
  width: 64.2%;
}

.in-this-page {
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-items: flex-start;
  padding: 20px;
}

.header a {
  padding-right: 30px;
}

.header a img {
  padding-right: 122px;
}

/* +++ WRAPPER +++ */
.wrapper {
  background: #fbdfdb;
  border-radius: 30px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 4%;
}

.wrapper-content {
  margin-left: 17.3%;
}

.wrapper-content h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 2;
}

.wrapper-content p {
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  opacity: 0.7;
}

.section-content,
.section-content p {
  margin-top: 25px;
}

.section-content {
  align-self: auto;
}

.section-content h1{
  font-size: 24px;
  line-height: 2;
}

.section-content h2 {
  font-size: 20px;
}

.section-content p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column-align: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5%;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
}

.card-image-container img {
  width: 100%;
  border-radius: 15px;
}

.card-content h1 {
  font-weight: normal;  
  font-size: 18px;
}

.card-content p {
  font-size: 14px;
  color: #777777;
}

footer {
  bottom: 0;
  background: #EEEEEE;
  text-align: center;
  width: auto;
  padding: 2% 37%;
}


/* +++ MODAL +++ */
.modal-overlay {
  overflow: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay .card {
  background-color: #fff;
  line-height: 1.5em;
  padding: 1.6em;
  border-radius: 0.8em 0.8em 0 0;
}

.modal-overlay .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-overlay .card .card-content img {
  width: 20em;
  border-radius: 15px;
}

.modal-overlay .card .card-content h3,
.modal-overlay .card .card-content p {
  color: #555;
}

.modal-overlay .card .card-content h3 {
  margin-top: 20px;
  font-weight: 500;
}

.modal-overlay .card .card-content p {
  font-size: small;
}


/* ativar o modal */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* +++ FECHAR MODAL */
.modal-overlay .close-modal {
  background-color: #ddd;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.23rem;
}

.modal-overlay .close-modal button {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20% 196%;
  border-radius: 0 0 0.8rem 0.8rem; 
}

.close-modal .button-close-modal {
  color: #111;
}
